img{
  width:100%;
}
.cont{
  width:100%;
  margin:0;
}

#surveyB{
  position:absolute ;
  left:70px;
  bottom:0px;
  top:90%;
  width: 15%;
  height:auto;
}
#learnB{
position: absolute;
width:15%;
height:auto;
left:550px;
top:1800px;
}
#checkUs{
  position: absolute;
  width: 15%;
  left:550px;
  top:2700px;
}
