#cont{
  text-align: center;
  display: inline;
}

h2{
  text-align: center;
  font-family: "Tw Cen MT", sans-serif;
  font-size:60px;
}
img{
  width:100%;
}
.form{
  font-family: "Tw Cen MT", sans-serif;
  font-size: 30px;
  margin-top:60px;
  margin-left: 40%;
  margin-right: 30%;
}
#button{
  background-color: #1c1c1c;
  color:white;
  border-radius: 40px;
  width:150px;
  height:50px;
}
/* #login{
  width:130px;
  height:auto;
  margin:10px;
} */
input[type=email] {
  /* border-radius: 13px */
  padding: 12px 15px;
  margin: 4px 0;
  box-sizing: border-box;
}
input[type=password] {
  /* border-radius: 13px */
  padding: 12px 15px;
  margin: 4px 0;
  box-sizing: border-box;
}
input{
  font-size: 20px;
  left:5px;
  margin-top:15px;
  border: 1px solid black;
  width:300px;
  /* text-align: center; */
  border-radius: 4px;
  height:40px;
}
input[type=email]:focus {
  border-radius: 4px;
  border: 3px solid black;
}
input[type=password]:focus {
  border-radius: 4px;
  border: 3px solid black;
}
#email{
  position:relative;
  right:39px;
}
#password{
  position: relative;
  right:50px;
}
div{
  margin-top: 10px;
  bottom:20px;
}



ul.social_icons, li.social {
    margin-top:-23px;
    padding-left:20px;
    padding-right:20px;
    max-width:25%;
    list-style: none;
    float:right;
    text-decoration:none;
    display:inline-block;
    position: relative;
    /* text-align: left; */
}


.footer{
      width: 100%;
      height: auto;
      /* font-size: 16px; */
      color: #fff;
      margin: 0;
      background-color: #000;
      padding: 10px 0px;
      position: absolute;
      bottom: 0;

  }

.class{
      width:70%;
      color:#FFFFFF;
      font-size: 10.5pt;
      padding-left:10px;
      padding-top:10px;
  }

.social_icons{
  position: relative;
  width: 100%;
  height: auto;
  margin:auto;
  /* text-align: left; */
}

.copy{
  padding-left: 20px;
  text-align: center;
}

.iconimage {
    /* width:36px;
    height:36px; */
    width: 100%;
    height: auto;
    margin:auto;
}
