body{
  font-size: 40px;
  font-family: "Tw Cen MT", sans-serif;
  margin:0;
}
form{
  float:left;
  position:relative;
  left:180px;
  margin:10px;
  padding:5%;
  top:80px;
}
#image{
  float:left;
  height:100%;
  width:30%;
}
.Q1{
  display:inline;
  left:120px;
  width:170px;

}
.Q2{
  display:inline;
  left:120px;
  width:170px;
}
.Q3{
  display:inline;
  left:120px;
  width:170px;
}
.Q4{
  display:inline;
  left:120px;
  width:170px;
}
.Q5{
  display:inline;
  left:120px;
  width:170px;
}
.Q6{
  display:inline;
  left:120px;
  width:170px;
}
#pagination{
  position:absolute;
  margin:auto;
  padding:auto;
  left:250px;
  float:right;
}
.question{
  display: inline-block
}
.nextprev{
  position:relative;
  top:400px;
}
