<<<<<<< HEAD
@media only screen and (min-width: 480px)
{
=======
>>>>>>> 3f6be05bf01a6aef58751f26fa20ac64897d7c8c
.navbar-collapse{
  padding:0.5rem 4rem 1.5rem;
}
.navbar-brand{
  margin-left:1rem;
}
img{
  width:100%;
  /* margin:0; */
  /* height:auto; */
  /* bottom: 0; */
}

/*top image*/
#top{
  position:relative;
  /* text-align: center; */
  margin: 0;
  width: 100%;
}
.hp1{
  position:absolute;
  color:white;
  top:30%;
  left:6%;
  font-size: 85px;
  text-align: left;
  /* width:100%; */
}
<<<<<<< HEAD
.hp_1{
  height:auto;
}
=======
>>>>>>> 3f6be05bf01a6aef58751f26fa20ac64897d7c8c
.surveybtn{
  position:absolute;
  width: 15%;
  left:6%;
  bottom:30%;
}
<<<<<<< HEAD
/* @media only screen and (max-width : 480px) {
=======
@media only screen and (max-width : 480px) {
>>>>>>> 3f6be05bf01a6aef58751f26fa20ac64897d7c8c
     .hp1 {

        font-size:24px;
    }
<<<<<<< HEAD
} */
=======
}
>>>>>>> 3f6be05bf01a6aef58751f26fa20ac64897d7c8c
/* @media only screen and (max-width: 480px)
.hp1 {
    font-size: 4px;
} */
/*-------------*/

/*-----black text---*/
.text_black{
text-align: center;
background-color: #1C1C1C;
color:white;
margin:0;
}
.text{
  margin:0;
  font-size: 35px;
  padding:40px;
}
/*-----------------------/

/*----middle image---- */
#mid{
  position:relative;
  text-align: center;
  margin: 0;
  width: 100%;
}
.learnB{
  position:absolute;
  width: 15%;
  left:42%;
  bottom:35%;
}
.hp2{
  text-align: center;
  color: white;
  position:absolute;
  font-size: 85px;
  left:34%;
  bottom:55%;
}
h1.hp2 {
 border: 10px solid white;
 padding:20px;
}
/*-----------------*/

/*-----bottom image-------*/
#last{
  position:relative;
  text-align: center;
  margin: 0;
  width: 100%;
}
.checkus{
  position:absolute;
  width: 15%;
  left:44%;
  bottom:25%;
}
.hp3{
  text-align: center;
  color: white;
  position:absolute;
  font-size: 85px;
  left:43.5%;
  bottom:60%;
  text-decoration: underline;
}
.hp3_2{
<<<<<<< HEAD

  text-align: center;
  color: white;
  position:absolute;
  font-size: 85px;
  left:36.5%;
  bottom:40%;

=======

  text-align: center;
  color: white;
  position:absolute;
  font-size: 85px;
  left:36.5%;
  bottom:40%;

>>>>>>> 3f6be05bf01a6aef58751f26fa20ac64897d7c8c
}
/*------------------------*/
/*Footer*/
footer {
 position: absolute;
 bottom:0;
 width: 100%;
 text-align: center;

}

ul.social_icons, li.social {
    margin-top:-23px;
    padding-left:20px;
    padding-right:20px;
    max-width:25%;
    list-style: none;
    float:right;
    text-decoration:none;
    display:inline-block;
    position: relative;
    /* text-align: left; */
}


.footer{
      width: 100%;
      height: auto;
      /* font-size: 16px; */
      color: #fff;
      margin: 0;
      background-color: #000;
      padding: 30px 0px;
      position: relative;
      bottom: 0;

  }



.class{
      width:70%;
      color:#FFFFFF;
      font-size: 10.5pt;
      padding-left:10px;
      padding-top:10px;
  }

.social_icons{
  position: relative;
  width: 100%;
  height: auto;
  margin:auto;
  /* text-align: left; */
}

.copy{
  padding-left: 20px;
  text-align: center;
}

.iconimage {
    /* width:36px;
    height:36px; */
    width: 100%;
    height: auto;
    margin:auto;
}
button.navbar-toggler.navbar-toggler-right {
  border-color: yellow;
}
.fa{
  padding-right:30px;
  padding-left:30px;

}
nav ul li a{
  display: inline-block;
  outline: none;
  color: #000;
  /* text-transform: uppercase; */
  text-decoration: none;
  font-size: 25px;
  /* letter-spacing: 1px; */
  font-weight: 400;
  font-family: "Tw Cen MT", sans-serif;
  text-align:center;
  padding: 9px;
  margin-left: 4.5rem;
  margin-top: 12px;
}
<<<<<<< HEAD
.navbar{
  margin:0;
}
}
=======
>>>>>>> 3f6be05bf01a6aef58751f26fa20ac64897d7c8c
